# Build artifacts
bin/
obj/

# Compiled object files
*.o
*.so
*.dylib
*.dll

# Executables
platformer
/platformer

# Debugging symbols
*.dSYM/
*.su
*.idb
*.pdb

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*~
